/* Variáveis */
:root {
    --CorPrincipal: #FF3019,#FF3E28, #FF5A2E, #FF6A31, #FF5F2F;
    --TextoNavSize: 30px;
}

/* Todo site */
.Wraaper{
    height: 1000vh;
    width: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
}

/* Cabeçario */
#Header{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 45vh;
    position: relative;
    background-image: linear-gradient(125deg, var(--CorPrincipal));
}
.Header-Dec{
    right: 5%;
    bottom: 0%;
    height: 39.4vh;
    width: 55%;
    position: absolute;
    background-image: url(Image-Dec.png);
}

/* Texto */
#texto{
    color: linear-gradient(125degvar(--CorPrincipal));
}

/* Barra de navegação */
.Nav{
    top: 0%;
    height: 7vh;
    width: 100%;
    left: 0%;
    position: relative;
    background-color: #ffff;
}

/* Corpo/texto */
.Section{
    left: 5%;
    top: 0%;
    height: 100%;
    width: 90%;
    background-color: #ffff;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    
    
    
}

/* Rodapé */
.Footer{
    bottom: 0%;
    height: 35vh;
    width: 100%;
    left: 0%;
    position: relative;
    background-image: linear-gradient(125deg, var(--CorPrincipal));
}

