 /* Variáveis */
 :root {
    --CorPrincipal: #27147D,#3C248F, #5034A1, #6544B3;

}

/* Todo site */
.Wraaper{
    height: 1000vh;
    width: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    background-color: #ffff;
}

/* !!!Cabeçario!!! */
#Header{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(125deg, var(--CorPrincipal));
}
ul{
    margin-left: 20%;
}
#a{
    color: #d9d9d9;
}
#b,#c{
    font-size: 30px;
    color: #d9d9d9;
}
#c{
    text-decoration: underline;
    text-decoration-color: #A58BFF;
}
#Header::before{ 
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32.5vh;
    background: url(../img/wave.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#texto{
    margin-left: 5%;
    margin-top: 3%;
    width: 50%;
    text-align: justify;
}
p{
    font-family: 'Montserrat', sans-serif;
}
#figuras{
    width: 50%;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    margin-left: 1%;
}
#Arrumar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}
#a1,#a2,#a3,#a4{
    width: 9%;
    height: 10%;
    background-color: #ffff;
}
#a1{
    margin-top: 0%;
    margin-left: 30%;
    border-radius: 30%;
}
#a2{
    margin-top: 5%;
    margin-left: 70%;
    border-radius: 30%;
}
#a3{
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 50%;
}
#a4{
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 30%;
}

/* Corpo */
section{ 
    width: 100%;
    height: 845vh;
    top: 0%;
    left: 0%;
    position: relative;
}
#folha{
    width: 90%;
    height: 100%;
    top: 0%;
    left: 5%;
    position: relative;
}
#titulo{
    text-align: center;
    color: #3C248F;
    font-size: 50px;
    font-weight: bold;
}
/* !!!Rodapé!!! */
.Footer{
    bottom: 0%;
    height: 35vh;
    width: 100%;
    left: 0%;
    position: absolute;
    background-image: linear-gradient(125deg, var(--CorPrincipal));
}

