 /* Variáveis */
 :root {
    --CorPrincipal: #27147D,#3C248F, #5034A1, #6544B3;

}

/* Todo site */
.Wraaper{
    height: 1000vh;
    width: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    background-color: #d9d9d9;
}

/* !!!Cabeçario!!! */
#Header{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 80vh;
    position: relative;
    background-image: linear-gradient(125deg, var(--CorPrincipal));
    display: flex;
    flex-direction: column;

}
ul{
    margin-left: 20%;
}
#a{
    color: #d9d9d9;
    font-size: 30px;
}
/* #Header::before{ 
    content: '';
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url(../img/wave.png);
    background-size: cover;
    background-repeat: no-repeat;
}*/

/* !!!Rodapé!!! */
.Footer{
    bottom: 0%;
    height: 35vh;
    width: 100%;
    left: 0%;
    position: absolute;
    background-image: linear-gradient(125deg, var(--CorPrincipal));
}

